@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';


.fi-simple-main-ctn{
  background-image: url('../../../images/login-bg-2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}